* {
  margin: 0;
  padding: 0;
}

#main-container {
  font-family: "Inter", sans-serif;
  text-align: center;
}

#interactive-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6943FF;
  min-height: 18rem;
}

#interactive-section h1 {
  font-weight: 800;
  font-size: 1.75rem;
  letter-spacing: -3%;
  color: #fff;
  /* margin-top: 2rem; */
}

#interactive-section input[type="text"] {
  width: 7.25rem;
  height: 5.25rem;
  border: 2px solid #B295FF;
  border-radius: 5px;
  outline: none;
  background-color: #6943FF;
  color: #fff;
  font-size: 3.625rem;
  font-weight: 800;
  text-align: center;
  box-sizing: border-box;
  margin-top: 2rem;
}

#interactive-section button {
  margin-top: 1.5rem;
  padding: 0.625rem 1.625rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  color: #3d3d3d;
  background: #fff;
}
